<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="../moment.html">

<dom-module id="bull-all">
	<template>
		<style include="shared-styles">
			:host {
				display: block;
				box-sizing: border-box;
			}
			#allBulletins {
				width: 100%;
				height: 100%;
			}
		</style>
		<iron-ajax
			id="viewAjax"
			url="{{_getUrl(settings)}}"
			handle-as="json"
			loading="{{mainLoading}}"
			on-response="_onViewFetch"
			verbose>
		</iron-ajax>
		<vaadin-grid
			id="allBulletins">
			<table>
				<colgroup>
					<col name="DateIssued" />
					<col name="IssuedBy" />
					<col name="Title" />
				</colgroup>
			</table>
		</vaadin-grid>
	</template>
</dom-module>

<script type="text/javascript" src="bull-all.js"></script>
