<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<link rel="import" href="../quoted-printable.html">

<dom-module id="bull-doc">
	<template>
		<style is="custom-style" include="shared-styles iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				padding: 15px;
				height: 100%;
			}
			.small {
				font-size: 12px;
			}
			.issuedBy {
				margin-bottom: 5px;
			}
			.material {
				max-width: 100%;
				background-color: white;
				padding: 15px;
			}
			.title {
				margin-bottom: 3px;
			}
		</style>
		<iron-ajax
			id="docAjax"
			url="{{_getUrl(settings, selectedDoc)}}"
			handle-as="json"
			last-response="{{doc}}"
			loading="{{mainLoading}}"
			verbose>
		</iron-ajax>
		<paper-material elevation="1" class="material">
			<div class="layout vertical">
				<h2 class="self-center title">{{doc.Title}}</h2>
				<span class="small self-center issuedBy">Issued by: {{doc.IssuedBy}}</span>
				<div class="body">
					<marked-element markdown="{{richTextContent}}">
						<div class="markdown-html"></div>
					</marked-element>
				</div>
			</div>
		</paper-material>
	</template>
</dom-module>

<script type="text/javascript" src="bull-doc.js"></script>

