Body 
{
	background-color: #fff;
	color: #000;
	font-family: arial;
}
TABLE
{
	background-color: #fff;
}
TD.Label, TH
{
	background-color: #fff;
    color: #999;
    font-weight: normal;
}
TD 
{
	border-color: #ccc;
	color: black;
	font-weight: bold;
}
.title TD
{
	background-color:#999;
	color: #fff;
	font-weight: bold;
}
.title
{
}
.heading
{
	color: #000;
	font-size: 1.1em;
	font-weight: bold;
}
.footer
{
	color: #999;
	font-size: 0.9em;
	font-weight: normal;
}
.danger
{
	background-color: rgb(242,222,222);
	color: #000;
}
.warning
{
	background-color: rgb(252,248,227);
	color: #000;
}
.info
{
	background-color: rgb(217,237,247);
	color: #000;
}
.active
{
}
.success
{
	background-color: #0c0;
	color: #000;
}