#header {
	top: 0px;
	left: 0px;
	position: absolute;
	height: 120px;
	width: 98%;
	background-image: url(headerBG.gif);
	background-repeat: repeat;
	border: solid red 0px;
}

#header a {
	float: right;
	color: white;
	font-size: 8pt;
}
#headerLogo {
	top: 0px;
	left: 0px;
	float: left;
	height: 120px;
	width: 87px;
	background-image: url(headerLogo.gif);
	background-repeat: no-repeat;
	border: solid gray 0px;
}


#headerTitle {
	font: 1.75em;
	font-weight: bold;
	padding-left: 0px;
	padding-top: 35px; 
	float: left;
	border: solid blue 0px;
}
#headerSearch {
	padding-top: 35px; 
	float: right;
	border: solid green 0px;
}
.dispoNav {
	position: absolute;
	left: 0px;
	top: 120px;
	width: 270px;
	padding-left: 25px;
	padding-top: 20px;
	background-image: url(shieldedge.gif);
	background-repeat: no-repeat;
	height: 350px;
	line-height: 1.75em; 
}
.dispoNav font {font-size: 8pt;}
.dispoFrameNav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 260px;
	padding-left: 25px;
	padding-top: 0px;
	background-image: url(shieldedge.gif);
	background-repeat: no-repeat;
	height: 350px;
	line-height: 1.75em;
	color: #E71029;
}
.dispoFrameNav font {
	color: #E71029;
}
#MainPageDiv {
	position: absolute;
	left: 0px;
	top: 120px;
}

.contentBody {
	position: absolute;
	padding-right: 5px;
	left: 270px;
	top: 120px;
}
#footer {
	position: absolute;
}
.dispoNav a:link {
	font-style: italic;
	font-weight: bold;
	color: #E71029;
	font-size: 1.1em;
	text-decoration: none;
}
.dispoNav a:visited {
	font-style: italic;
	font-weight: bold;
	color: #E71029;
	font-size: 1.1em;
	text-decoration: none;
}
.dispoNav a:hover {
	text-decoration: underline;
	color: #E71029;
}
.bizcard {
	background-color: #FFFFCC; 
	border: 1px solid #CECECE;
	padding: 5px;
	padding-bottom: 20px;
	width: 95%;
}
.Label {
	font-weight: bold;
}
.Label-Indent{
	font-weight: bold;
	padding-left: 3em;
}
h1 {
	font-size: 1.75em;
	font-weight: bold;
	text-align: center;
}
.nameHeading {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.pageHeader {
	font-weight: bold;
	text-decoration: underline;
	font-size: .85em;
	text-align: center;
}