<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<!-- #tag::settings-import[] -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- #end::settings-import[] -->

<!-- #tag::app-route-import[] -->
<link rel="import" href="../../bower_components/app-route/app-route.html">
<!-- #end::app-route-import[] -->

<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">

<link rel="import" href="../../bower_components/now-basic-app-layout/now-basic-app-layout.html">

<!-- Authentication code for Domino; redirects to the login page if the user isn't authenticated.
    REMOVE THIS IF YOUR ARE NOT USING DOMINO AUTHENTICATION. -->
<link rel="import" href="../../bower_components/now-domino-auth/now-domino-auth.html">

<link rel="import" href="../../styles/app-theme.html">
<link rel="import" href="../../styles/shared-styles.html">

<link rel="import" href="../bull-all/bull-all.html">
<link rel="import" href="../bull-doc/bull-doc.html">

<dom-module id="bull-app">
	<template>
		<style include="shared-styles iron-flex iron-flex-alignment iron-flex-reverse">
			.emphasis {
				font-style: italic;
			}
		</style>
		<!-- #tag::bull-doc-route[] -->
		<app-route
			id="documentRoute"
			pattern="/doc/:unid"
			route="{{route}}"
			data="{{docData}}">
		</app-route>
		<!-- #end::bull-doc-route[] -->
		<!-- #tag::settings[] -->
		<iron-ajax
			id="settingsAjax"
			url="{{_getSettingsUrl()}}"
			last-response="{{settings}}"
			loading="{{mainLoading}}"
			handle-as="json"
			auto
			verbose>
		</iron-ajax>
		<!-- #end::settings[] -->
		<!-- #tag::layout[] -->
		<now-basic-app-layout
			id="appLayout"
			title="USS Bulletins"
			logo="../../images/SA_Header_Logo.png"
			footer-logo="../images/RPN_Footer_logo.png"
			copyright-notice="&copy; 2016 Red Pill Now. All Rights Reserved."
			home-route="/all"
			route="{{route}}"
			subroute="{{subroute}}"
			main-loading="{{mainLoading}}"
			use-hash-as-path>
		<!-- #end::layout[] -->
			<div header-content>
				{{appHeader}}
			</div>
			<!-- #tag::bull-all[] -->
			<neon-animatable data-route="all" title="View Bulletins">
				<bull-all
					settings="{{settings}}"
					main-loading="{{mainLoading}}"
					route="{{route}}">
				</bull-all>
			</neon-animatable>
			<!-- #end::bull-all[] -->
			<!-- #tag::bull-doc[] -->
			<neon-animatable data-route="doc" data-invisible>
				<bull-doc
					settings="{{settings}}"
					main-loading="{{mainLoading}}"
					selected-doc="{{docData.unid}}">
				</bull-doc>
			</neon-animatable>
			<!-- #end::bull-doc[] -->
		</now-basic-app-layout>
	</template>
</dom-module>

<script type="text/javascript" src="bull-app.js"></script>
