<?xml version='1.0' encoding='utf-8'?>
<note class='form' xmlns='http://www.lotus.com/dxl' version='9.0' maintenanceversion='1.4'
 replicaid='8525804C0062D520'>
<noteinfo noteid='2ba' unid='6AF951BB1A2360A585257A9300674BA3' sequence='10'>
<created><datetime dst='true'>20121010T144815,71-04</datetime></created>
<modified><datetime dst='true'>20161014T135935,25-04</datetime></modified>
<revised><datetime dst='true'>20160613T091533,07-04</datetime></revised>
<lastaccessed><datetime dst='true'>20161014T135935,24-04</datetime></lastaccessed>
<addedtofile><datetime dst='true'>20161014T135935,24-04</datetime></addedtofile></noteinfo>
<updatedby><name>CN=Greg Taylor/OU=USS/O=SArmy</name><name>CN=Daoud Safi/OU=USS/O=SArmy</name><name
>CN=Daoud Safi/OU=THQ/OU=USS/O=SArmy</name><name>CN=THQ Developer/OU=USS/O=SArmy</name><name
>CN=Daoud Safi/OU=THQ/OU=USS/O=SArmy</name><name>CN=THQ Developer/OU=USS/O=SArmy</name></updatedby>
<wassignedby><name>CN=THQ Developer/OU=USS/O=SArmy</name></wassignedby>
<item name='$HTMLCode' sign='true'>
<rawitemdata type='1'>
X/8QAAIADwAHAAAAAAAAAA==
</rawitemdata></item>
<item name='$TITLE'><text>Results Page</text></item>
<item name='$Info' sign='true'>
<rawitemdata type='1'>
hhgBAIAAAAAAgAAAAQABAP///wAQAAAA
</rawitemdata></item>
<item name='$Flags'><text>C34WQ</text></item>
<item name='$WebFlags'><text>V</text></item>
<item name='$DesignerVersion'><text>6.5</text></item>
<item name='$$ScriptName' summary='false' sign='true'><text>Results Page</text></item>
<item name='$Body' sign='true'>
<rawitemdata type='1'>
gQKC/1oAAQADAAAAAAAAAKAFAACgBQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAACBAAAAAJSHAAAAAAAAAAAAAAAAAQAAAAQAAACDBAEAhf8IAAEAAArdBgAArf9x/yoA
AAAAAAMAAgAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAUmVzdWx0cwCt/xQAEwAIAAAACABSZXN1bHRz
AOr/PgATAIlEAABkAFUUAQAACgAAAAAAAAAAAQAACgEAAAoAAAUA////AAEAAAAAAAAAAAAAAAAA
AAAAAAAA7f8gAAIgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACuAt4GAACuAIX/CAABAAAK
</rawitemdata></item></note>

